apiVersion: v1
kind: Service
metadata:
  name: qbittorrent
spec:
  type: LoadBalancer
  ports:
    - name: qbittorrent
      port: 8080
      targetPort: 8080
    - name: qbittorrent-tcp
      port: 6881
      targetPort: 6881
      protocol: TCP
  selector:
    app: qbittorrent
